body {
  background-image: url(b.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin:  0;
  padding: 0;
}
.menuPrincipal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
   float: left;
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 22px;
  background: rgb(23, 211, 218);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-size: 19px;
}
.conteudo {
  position: absolute;
  top: 45px;
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.conteudo2 {
  position: relative;
  top: 180px;
  width: 100%;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.imagem {
  position: absolute;
  top: 50px;
  right: 52px;
}
.infos{
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}